@import "tailwindcss";
@theme{
  --color-bg-main:#181831;
  --color-bg-btn:#b95cc4;
  --color-bg-nav-1:#161941;
  --color-bg-nav-2:#3845A3;
  --color-bg-btn-hover:#8a4394;
  --color-text-main:#B794F4;
  
}
/* @layer components {
  .container {
  }
} */